<div class="container">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <div class="row">
    <div class="row">
      <label><pre>&lt;Input /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <input type="text" placeholder="Placeholder" class="input" />
      </div>
    </div>
  </div>
  <div class="row">
    <label><pre>&lt;Input error /&gt;</pre></label>
    <div class="row">
      <label>Label</label>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <input
            type="text"
            matInput
            [formControl]="text1FormControl"
            placeholder="Placeholder"
          />
          <mat-error
            *ngIf="
              text1FormControl.hasError('text') &&
              !text1FormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <label><pre>&lt;Input disabled /&gt;</pre></label>
    <div class="row">
      <label>Label</label>
      <input
        type="text"
        placeholder="Placeholder"
        class="input-disabled"
        disabled
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <pre>&lt;Input helperText"Some interesting text" /&gt;</pre>
      </label>
      <div class="row">
        <label>Label</label>
        <form class="example-form">
          <mat-form-field class="" appearance="outline">
            <input
              type="text"
              matInput
              [formControl]="text2FormControl"
              placeholder="Placeholder"
            />
            <mat-hint>Something is required</mat-hint>
            <mat-error
              *ngIf="
                text2FormControl.hasError('text') &&
                !text2FormControl.hasError('required')
              "
            >
              Please enter a valid text
            </mat-error>
            <mat-error *ngIf="text2FormControl.hasError('required')">
              Something is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><pre>&lt;Input startIcon /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>call_logs</mat-icon>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-3">
      <label><pre>&lt;Input endIcon /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label><pre>&lt;Input value="text" /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <input type="text" placeholder="Text" class="input" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label><pre>&lt;Button size="sm" /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <input type="text" placeholder="Placeholder" class="input-sm" />
      </div>
    </div>
    <div class="col-4">
      <label><pre>&lt;Button size="md" /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <input type="text" placeholder="Placeholder" class="input-md" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label><pre>&lt;Input fullWdidth /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <input type="text" placeholder="Text" class="input-fullWdidth" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label><pre>&lt;Input multiLine row="4" /&gt;</pre></label>
      <div class="row">
        <label>Label</label>
        <textarea
          type="text"
          placeholder="Placeholder"
          class="input"
          style="height: 100px"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <h6>Icons : https://google.github.io/material-design-icons/</h6>
  </div>
  <div class="row">
    <h6>
      created by
      <a href="https://devchallenges.io/portfolio/manthanank">manthanank</a> -
      <a href="https://devchallenges.io">devChallenges.io</a>
    </h6>
  </div>
</div>
